.swatch-tab-body {
    padding: 70px;
    background-color: #f6f6f6;
}

.switch-tab {
    height: 80px;
    display: inline-block;
    background: #e9e9e9;
    text-align: center;
    padding: 15px 20px 0;
    border-radius: 3px 3px 0 0;
}

.switch-tab-text > li > button {
    background-color: #e9e9e9!important;
    color: #3c4858;
    font-size: 1rem!important;
    font-weight: 600!important;
}

.switch-tab-text > li > button {
    background-color: #e9e9e9!important;
    color: #3c4858;
    font-size: 1rem!important;
    font-weight: 600!important;
}

.switch-tab-text > li > button:hover {
    background-color: #c9e990!important;
    color: #3c4858;
    font-size:1rem!important;
    font-weight: 600!important;
}

.switch-tab-text > li > button:focus {
    background-color: #b4e165!important;
    color: #3c4858;
    font-size:1rem!important;
    font-weight: 600!important;
}
