.header-bar {
    background-color: #214fff;
    padding: 15px;
}

#brand-logo {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 6px;
}

#google-logo {
    position: absolute;
    right: 1200px;
    width: 45px;
    margin-top: 10px;
    margin-bottom: 12px;
}

#google-bar {
    text-align: right;
}

#stars {
    font-size: 20px;
    color: gold;
}

#review-count {
    font-weight: 700;
    font-size: 15px;
    padding-right: 0;
    color: white;
    display: flex;
}

#searchbar-button {
    background-color: #a7d2cd;
    color: #3c4858;
    font-weight: bold;
}

#search-bar {
    width: 360px;
    height: auto;
    margin: 20px;
}