.footer-body {
    background-color:#99999b;;
    padding: 50px;
    }

.brand-logo {
    width: 300px;
    padding: 10px;
}

.footer-container {
    font-size: 1rem;
    background: #99999b;
    color: #fff;
}

#subtitle {
text-transform: uppercase;
font-size: 1.3rem;
margin-bottom: 10px;
}

.href-text > div > div > a {
    color: #fff!important;
}

.href-text > div > div > a:hover {
    color: blue!important;
}

.button {
    width: 140px;
    letter-spacing: .05em;
    background: #616367;
    color: #fff;
    font-size: medium;
}