.footer-body {
    background-color:#99999b;;
    padding: 100px;
    }

.footer-container {
    font-size: 1.4rem;
    border-top: 4px solid;
    background: #99999b;
    color: #fff;
}

#brand-logo {
    max-width: 175px;
    margin-top: 24px;
    margin-bottom: 12px;
}