.question-content-title {
    display: block;
    text-align: left;
    color: #214fff;
    background-color: #fff;
    margin:4px;
    font-family: HurmeGeometricSans2,Helvetica,Arial,sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
}