.navbar {
    background-color: #99999b;
}

#navbar-item {
    background-color: #99999b;
    color: white !important;
    text-transform: uppercase;
    font-weight: bold;
}

#navbar-item:hover {
    background-color: #1532a5;
    color: white !important;
    text-transform: uppercase;
    font-weight: bold;
}

#nabar-button {
    background-color: #f09b12;
    height: 48px;
    border-radius: 18px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: medium;
}

#nabar-button:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    background-color: #f09b12
}

.menu-col-item {
    border: 1px solid #1635ae;
    background-color: #1532a5;
}

.menu-col-item-text>a {
    color: #fff;
    font-size: medium;
    font-weight: bold;
}

#contact-button {
    background-color: #f09b12;
    text-transform: uppercase;
    border-radius: 17px;
    border: none;
    font-weight: bold;
    color: white;
    font-size: medium;
    width: 300px;
    margin-left: 15px;
    margin-top: 25px;
}

#contact-item {
    width: 350px
}

#contact-text {
    font-size: 1.1rem;
    font-weight: bold;
}

