.swatch-product-col {
    padding-left: 0;
    padding-right: 0;
}

#swatch-product-book {
    width: 100;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    margin-right: 7px;
    position: relative;
    display: block;
    float: right !important;
}

#swatch-product-hat {
    width: 610px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    margin-right: 7px;
    position: relative;
    display: block;
    float: left !important;
}

.swatch-product-s-left {
    max-width: 290px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    padding: 0;
    float: right !important;
}

.swatch-product-s-right {
    max-width: 290px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 7px;
    padding: 0;
    float: left !important;
}

#swatch-button-left {
    float: right !important;
    margin-right: 7px;
}
#swatch-button-right {
    float: left !important;
    margin-left: 7px;
}

.swatch-title {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 40px;
    color: #616367;
}